{% extends "layout.html" %}
  {% block body %}
<div class="has-padding-top-2"></div>
  <div class="section">
    <div class="container">
      {% include 'underscore/_flash_messages.html' %}
      <div class="columns is-centered">
        <div class="column is-half">
          <h1 class="title sign-in-up-title is-4">
          Login
          </h1>
         <form class="" id="resetPassForm" action="{{url_for('auth.reset_password_final', _external=True)}}" method="post">
           <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
           <div class="field">
           <input name="token" type="hidden" value="{{token}}">
           </div>
           <div class="field">
             <p>
               <span>
               <strong>New Password</strong>
               </span>
               <input class="input homemade-input" name="password" type="password" placeholder="New Password">
             </p>
           </div>
           <div class="field">
            <p>
             <span>
              <strong>Password Confirmation</strong>
             </span>
             <input class="input homemade-input" name="passwordConfirmation" type="password" placeholder="Password Confirmation">
            </p>
           </div>
           <div class="field">
            <p class="control">
             <input type="submit" class="button homemade-button is-primary" name="signin" value="Reset">
            </p>
           </div>
         </form>
        </div>
       </div>
      </div>
    </div>
{% endblock %}