<!-- UPDATE PASSWORD  FORM STARTS HERE -->
{% extends "layout.html" %}
{% block body %}
  <div class="has-padding-top-2"></div>
  <div class="section has-padding-top-2">
    <div class="container">
      {% include 'underscore/_flash_messages.html' %}
      <!-- CHANGE USER PASSWORD FORM STARTS HERE -->
        <div class="columns is-centered">
          <div class="column is-one-third">
            <div class="card">
             <div class="card-content">
                <h1 class="title sign-in-up-title is-4">
                  <svg id="i-lock" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="22" height="22" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                      <path d="M5 15 L5 30 27 30 27 15 Z M9 15 C9 9 9 5 16 5 23 5 23 9 23 15 M16 20 L16 23" />
                      <circle cx="16" cy="24" r="1" />
                  </svg>
                  Update password
                </h1>
               <form class="" id="updateUserPasswordForm" action="{{url_for('user.update_password', _external=True)}}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                 <div class="field">
                   <p>
                     <span>
                     <strong>Current Password</strong>
                     </span>
                     <input class="input homemade-input" name="currentPassword" type="password" minlength="8" autocomplete="off" placeholder="Current Password" required="true">
                   </p>
                 </div>
                 <div class="field">
                   <p>
                     <span>
                     <strong>New Password</strong>
                     </span>
                     <input class="input homemade-input" name="newPassword" type="password" minlength="8" placeholder="New Password" required="true">
                   </p>
                 </div>
                 <div class="field">
                  <p>
                   <span>
                    <strong>Confirm New Password</strong>
                   </span>
                   <input class="input homemade-input" name="newPasswordConfirmation" type="password" minlength="8" placeholder="New Password Confirmation" required="true">
                  </p>
                 </div>
                 <div class="field">
                  <p class="control">
                   <input type="submit" class="button is-bold is-primary is-light" name="signin" value="Update">
                  </p>
                 </div>
               </form>
               <button class="modal-close is-medium" aria-label="close"></button>
             </div>
           </div>
          </div>
         </div>
        </div>
      </div>
    {% endblock %}