<div class="columns is-marginless is-centered">
  <div class="column is-two-thirds">
    <h1 class="landpage-head animated bounceInLeft">
      <span class="landpage-head-logo">Lang&Code </span>On Human and Computer Languages
    </h1>
  </div>
</div>
  <div class="columns is-marginless features">
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image has-text-centered">
                  <i class="fa fa-cubes"></i>
              </div>
              <div class="card-content">
                  <div class="content">
                      <h4 class="has-text-centered">ModuleX</h4>
                      <p>
                        ModuleX was the code name given soley to a stemmer developed for the Moroccan Arabic (Being the sole stemmer available for the language at the present time).
                        ModuleX is no longer just a stemmer, it has been developed into a few other uses and many features
                        have been added
                      </p>
                      <p class="has-text-centered"><a href="#">Learn more</a></p>
                  </div>
              </div>
          </div>
      </div>
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image has-text-centered">
                  <i class="fa fa-book"></i>
              </div>
              <div class="card-content">
                  <div class="content">
                      <h4 class="has-text-centered">Tutorials</h4>
                      <p>
                        I provide some easy to follow tutorials and articles on Python and how you could use it to achieve tasks including but not limited to: Automation, Web Scrapping, Web Development, Natural Language Processing (NLP), Database CRUD; how to use OOP and ORM, etc. Also providing material on other languages such as the powerful JavaScript.
                      </p>
                      <p class="has-text-centered"><a href="#">Learn more</a></p>
                  </div>
              </div>
          </div>
      </div>
      <div class="column is-4">
          <div class="card is-shady">
              <div class="card-image has-text-centered">
                  <i class="fa fa-language"></i>
              </div>
              <div class="card-content">
                  <div class="content">
                      <h4 class="has-text-centered">Translation </h4>
                      <p class="is-6">
                        While you could use the English - Moroccan Arabic (hereafter MA) found on this web-app to translate a given word or group of words literally,
                        still, it is not the best approach for professional translation. The Translation service provides exactly
                        what you would be needing.
                      </p>
                      <p class="has-text-centered"><a href="#">Learn more</a></p>
                  </div>
              </div>
          </div>
      </div>
  </div>